
body { padding:5px;padding-top:0 } 

		.defesas {
			color:black;
                        display:inline-block;
                        margin-top:10px;
			margin-left:12px;
			margin-bottom:20px;
                        padding:10px;
                        width:300px;
                        height:290px;
			overflow:hidden;
  background: -moz-radial-gradient( 50% 0%, circle,  #eee, #bbb);
			box-shadow: 3px 3px 5px black;
			border-radius:4px;
		} 
		.defesa_title { 
			display:block;
                        font-size:20px;
			font-weight:bold;
			color:rgb(40,40,40);
		} 
		.defesa_local { 
			font-size:18px;
			color:#555;
			background-color:rgba(255,255,255,.2);
			white-space: nowrap;
			text-overflow: ellipsis;
			padding:3px;
			margin-bottom:2px;
			overflow: hidden;
		} 
		.defesa_datahora { 
			font-size:18px;
			color:#555;
			margin-bottom:2px;
			background-color:rgba(255,255,255,.2);
			padding:3px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		} 
		.defesa_orientador { 
			font-size:18px;
			color:#555;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding:3px;
			overflow: hidden;
			background-color:rgba(255,255,255,.2);
		} 
		.defesa_description { 
                        font-size:16px;
			height:110px;
			color:#555;
			display:block;
			margin-bottom:10px;
			overflow: hidden;
		} 

		.twitterPanelEventos { 
			width:100%;
		}
