html { padding:0; margin:0; overflow:hidden; font-family: Fontin, verdana, arial, sans-serif } 



	body {
		background-color:rgb(253,181,37); margin:0; padding:0;
	}

	table.cabecalho {
	   background: url(org/sematron/3pane/header.png) 0px -30px no-repeat;	
	   width:100%; 
	   padding:0; 
	   margin:0;
	}
        

        table.cabecalho td { 
		padding:0;
		margin:0;
        } 
        table.main {
		width:1920px;
		height:1080px;
		width:100%;
		margin:0;
		z-index:1000;
		position:absolute;
		padding:0;
	}
	
	.tab {
                font-size:20px;
                font-weight:bold;
        }

	#tab1, #tab2, #tab3 { 
		z-index:1000;
	}

	#area_cima_direita { 
		text-align:center;
	} 
	#area_cima_centro {
                height:230px;
		color:white;
        }

        .cor_tab1 { background-color:rgb(255,69,0); }
        .cor_tab2 { background-color:rgb(255,140,0); }
        .cor_tab3 { background-color:rgb(255,165,0);	}

        .transp { background-color:transparent; }

        #pointer {
                width:42px;
                height:42px;
				background-image:url(org/sematron/3pane/logo.png);
                z-index:10000;
                position:absolute;
                top:270px;
                left:0px;
        }

	#frame { 
	 	margin:0;
		padding:0;
	}

	#td_panel { 
		padding:0;
	} 

	.panel { 
		display:none;
		margin:0;
		width:100%;
		height:806px;
		overflow:hidden;
	} 


@font-face {
    font-family: GraublauWeb;
    src: url(org/icmc/3pane/GraublauWeb.otf) format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight:900;
    src: url(org/icmc/3pane/GraublauWebBold.otf) format("opentype");
}

@font-face {
    font-family: Vollkorn;
	src: url(org/icmc/3pane/vollkorn.otf) format("opentype");

}

@font-face {
    font-family: Fontin;
	src: url(org/icmc/3pane/Fontin-Regular.otf) format("opentype");
	
}
