/* https://developer.mozilla.org/en/CSS/text-overflow
*/

html { 
	font-family:verdana, arial, sans-serif;
} 

table { 
	width:1080px;
} 

tr > td { 
	width:50px;
} 

.RoomCell  { 
} 

.CellContent { 
	padding:.5em;
	text-align:center;
	width:110px;
        text-overflow:ellipsis; 
	overflow:hidden;
} 

.CellContent a { 
	color:inherit;
	text-decoration:none;
} 

.SpeechSpeakers, .SpecialText { 
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,.3);
	margin-top:5px;
	display:block;
} 

.SpeechSpeakers, .  { 
   padding:.3em;
} 
