body { 

} 

.gv { 
  clear:both;
} 

.gh { 
  display:inline;
  float:left;
}

.inner { 
  overflow:hidden;
} 

.innerInnerCell { 
  margin-left:4px;
  font-weight:bold;
  color:white;
  background: -moz-linear-gradient( -90deg, rgb(40,100,220), rgba(40,80,140,1));
  height:100%;
  padding:.5em;
  overflow: hidden;
  text-overflow:ellipsis;
} 

.innerNone { 
  background: -moz-linear-gradient( 270deg, rgba(5,5,5,.2), rgba(255,255,255,0), rgba(255,255,255,0));
} 

.innerHour { 
  background: -moz-linear-gradient( 270deg, rgba(5,5,5,.2), rgba(255,255,255,0), rgba(255,255,255,0));
  text-align:center;
} 

.innerInnerHour { 
  margin-top:4px;
} 

.innerHeader { 
} 
 
.innerInnerHeader { 
  padding:.5em;
  padding-left:1em;
  margin-left:4px;
  margin-bottom:2px;
  background: -moz-linear-gradient( -90deg, rgba(0,50,120,1), rgba(50,100,220,1));
  font-weight:bold;
  height:50px;
  font-size:18px;
  text-align:center;
  color:white;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
} 

.innerInnerCorner { 
  margin:.5em;
} 

