
	html { 
		margin:0; padding:0; 
		font-family: arial; 
	}

	body { 
		background-image: -moz-linear-gradient(-45deg, #84A4D4 , #fff);
		
		width:1920px;
		margin:0;
		height:100%;
		padding:0;
		overflow:hidden;
	}


	#frame { 
		margin:auto;
		width:1920px;
		padding-left:2em;
		height:1000px;
	} 

	.tab { 
		position:relative;
		-moz-border-radius:95px 0px 0px 55px;;
		background-image: -moz-linear-gradient(top, rgba(132,164,212,1), rgba(0,0,0,.1));
		color:yellow;
		-moz-box-shadow:black 0 10px 55px; 
		font-size:30px;
		padding:1em;
	} 

	.tab-tab { 
		position:absolute;
		background-color:#ddd;		
		top:-60px;
		-moz-border-radius:35px 35px 0 0; 
		padding:15px;
		padding-left:40px;
		font-size:60px;
		color:white;
		width:700px;
		right:0px;
		background-color:rgb(132,164,212);
	} 

	.orange { 
		background-image: -moz-linear-gradient(-60deg, #246, #469, #000);
		text-shadow: black 4px 4px 10px,  black 4px 4px 10px, black 4px 4px 10px ;; 
		height:400px;
		margin-right:1em;
		font-size:50px;
		font-weight:bold;
		-moz-border-radius:55px 95px;

	} 
	.green { 
		font-family: arial; 
		background-image: -moz-linear-gradient(-60deg, #030,  #070, #000);
		font-size:60px;
		padding:1em;
		font-weight:bold;
		text-shadow: black 4px 4px 10px,  black 4px 4px 10px, black 4px 4px 10px ;; 
		height:300px;

	} 

	h1 { 
		font-family:georgia; 
		font-weight:bold;
		text-shadow: black 0 0 10px; 
		font-size:60px;
	} 
