.gv { 
  clear:both;
} 

.gh { 
  display:inline;
  float:left;
}

.inner { 
  background: -moz-linear-gradient( -45deg, gray, rgba(255,255,255,0));
} 

.innerInnerCell { 
  padding:.5em;
} 

.innerNone { 
  background: -moz-linear-gradient( -45deg, rgba(0,0,0,.1), rgba(255,255,255,0));
} 

.innerHeader { 
  border-bottom:1px solid white;
  background-color:rgba(255,255,255,.5);
  border-top-right-radius:20px;
} 
 
.innerInnerHour { 
  padding:.5em;
  -moz-transform-origin:0 0;
  -moz-transform:rotate(-90deg);
} 

.innerInnerHeader { 
  margin:.5em;
} 

