@import url("http://fonts.googleapis.com/css?family=Varela");

html, body { margin:0; padding:0; overflow:hidden } 

* { 
  font-family: 'Varela', sans-serif;
} 

h1 { 
   margin-left:0em;
   font-size:30px;
   margin-bottom:0;
   padding-left:1em;
   color:white;
   background-color:rgba(0,0,0,.1);
   font-weight:bold;
}

.datetime  { 
  font-size:160%;
  color:black;
  font-weight:bold;
  text-align:left;
} 


