@import url("http://fonts.googleapis.com/css?family=Varela");

html, body { margin:0; padding:0; color:white; overflow:hidden } 

* { 
  font-family: 'Varela', sans-serif;
} 

body { 
  width:1920px; height:1080px;
  background: -moz-radial-gradient( 50% 50%, circle , white, rgb(150,180,200));
} 

.datetime  { 
  font-size:210%;
  font-weight:bold;
  color:white;
  text-align:right;
  text-shadow:3px 3px 3px black;
} 


