@import url("http://fonts.googleapis.com/css?family=Varela");

html, body { margin:0; padding:0; overflow:hidden } 

body { 
  width:1080px; height:1920px;
  background:white;
} 

.overtwit { 
  position:relative;
  background: -moz-linear-gradient( top , rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1)) ;
  width:100%; 
  height:640px;
} 


#viewport { 
  background: -moz-radial-gradient( 50% 30%, circle , #0a7, #fff ) ;
  background-size:1080px 1920px;
  width:1080px; height:1920px;
} 

#viewport2 { 
  background-size:1080px 1920px;
  width:1080px; height:1920px;
} 


* { 
  font-family: 'Varela', sans-serif;
} 

h1 { 
   margin-left:0em;
   font-size:30px;
   margin-bottom:0;
   padding-left:1em;
   color:white;
   background-color:rgba(0,0,0,.1);
   font-weight:bold;
}

.datetime  { 
  font-size:160%;
  color:black;

  font-weight:bold;
  text-align:left;
} 


