html { padding:0; margin:0; overflow:hidden; font-family: Fontin, verdana, arial, sans-serif } 

body {
	background-color:rgb(253,181,37); margin:0; padding:0;
}

table {
	width:100%;
	margin:0;
	z-index:1000;
	position:absolute;
}

table.main td {
	border:10px solid rgba(0,0,0,.7);
}


.tab {
        font-size:20px;
        font-weight:bold;
}

#tab1, #tab2, #tab3 { 
	z-index:1000;
}

#area_bottomright { 
	text-align:center;
	background-color:rgb(70,70,70);	
	overflow: hidden;
} 

.cor_tab1 { background-color:rgb(253,181,37); }
.cor_tab2 { background-color:rgb(100,197,210); }
.cor_tab3 { background-color:rgb(14,148,171);	}

.transp { background-color:transparent; }

#pointer {
        width:100px;
        height:32px;
        background-color:#333;
        z-index:10000;
        position:absolute;
        top:163px;
        left:0px;
}


#frame {
	margin:0;
	padding:0;
}

#td_panel {
	padding:0;
}

.panel {
	display:none;
	margin:0;
	width:100%;
	height:806px;
	overflow:hidden;
}


@font-face {
    font-family: GraublauWeb;
    src: url(org/icmc/3pane/GraublauWeb.otf) format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight:900;
    src: url(org/icmc/3pane/GraublauWebBold.otf) format("opentype");
}

@font-face {
    font-family: Vollkorn;
src: url(org/icmc/3pane/vollkorn.otf) format("opentype");

}

@font-face {
    font-family: Fontin;
src: url(org/icmc/3pane/Fontin-Regular.otf) format("opentype");

}
